[2014-12-02 10:08] westerlund opened #1 "Use of undeclared type 'MTLModel'"
I'm getting a super weird error. I followed http://guides.cocoapods.org/using/unreleased-features and everything seemed fine, except the swift files doesn't recognize the Mantle pod, I'm getting the infamous `Use of undeclared type 'MTLModel'`. It works just fine if I don't use the pre-release with swift support.

My bridging file looks just like it should:

[code]

Any suggestions?

[2014-12-02 11:30] ryancrosby opened #2 "Example Commit May Not Work"
I moved to cocoapods-swift support last week, and found the example commit didn't work. See https://github.com/ashfurrow/Moya/issues/84 and this commit https://github.com/ashfurrow/Moya/commit/07f6f6775455076f694662775013a39c7b543ba3. I have since had to revert to the 0.35.0 of cocoapods so I don't know for sure if the above issue applies, but I think it does. Maybe just including a working Gemfil

[2014-12-02 11:45] #2 closed, assigned to nobody

[2014-12-06 11:05] MrAlek opened #3 "Can't import Swift pods in playgrounds inside workspace"
Just tried out the pre-release version of CocoaPods with Swift support and everything works great inside the main project. But when I add a playground to it, I can't get the import statements to work inside the playground (`No such module 'Moya'`). As I've understood it, this should work right out of the box, right?

Here's my podfile:
[code]

[Link to zip of the project](https://copy.com/kTJQkMkT

[2014-12-13 00:57] fluidsonic opened #4 "LayerKit pod not being added"
CococaPods does no longer create a target for the pod `LayerKit`. For all other pods used by us a target is created (either framework or static library, depending on the presence of `use_frameworks!`) but in any case `LayerKit` is just not there. There's not even a warning.

I set up a new empty project with just `LayerKit` as the only dependency but the result is the same.
### Podfile

[code]
###

[2014-12-13 02:24] fluidsonic opened #5 "Bundle targets not working for more than two targets"
When `use_frameworks!` is enabled and a pod using `resource_bundles` is used by two targets, then the build process fails because one of the targets cannot find the `.bundle` file.

Tested with a newly setup project (using project wizard which creates two targets: app & tests). Latest CocoaPods from `swift` branch.

Seems to happen only when both targets are built at the same time - i.e. by the th

[2014-12-13 02:27] fluidsonic opened #6 "Embed Pods Frameworks phase not removed automatically"
When `use_frameworks!` is removed from a Podfile and `pod install` or `pod update` are used, the `Embed Pods Frameworks` phase is not removed automatically. This causes subsequent builds to fail because the related shell script no longer exists.

Tested with latest CocoaPods from `swift` branch.

[2014-12-13 03:24] fluidsonic opened #7 "Facebook-iOS-SDK pod broken with use_frameworks!"
Facebook's SDK has a `prepare_command` which inadvertently saves non-public header files into the pod's public header location. Since these headers cannot be compiled by the app but are added automatically to the framework's `-umbrella.h` header, the Facebook SDK is completely broken when `use_frameworks!` is used.

I think it's more an issue on Facebook's side than on CocoaPods', yet it shows tha

[2014-12-13 22:43] #7 closed, assigned to nobody

[2014-12-13 22:54] #1 closed, assigned to nobody

[2014-12-13 23:12] #4 closed, assigned to nobody

[2014-12-13 23:44] #6 closed, assigned to nobody

[2014-12-14 17:26] fluidsonic opened #8 "UrbanAirship-iOS-SDK not working as framework due to sqlite3.h"
I added `UrbanAirship-iOS-SDK` to the project as a framework pod.
But since the library's public headers import `sqlite3.h` which is not a module and thus Xcode rejects the import as invalid.

### Code
[code]

### Error
[code]
at:
[code]

## Bridging

Using the bridging header also doesn't work since headers of framework pods are not added to the search path.

### Code
[code]
### Error
[code]

The

[2014-12-14 17:38] bssayeda opened #9 "Dynamic Framework Support with iOS 7 (Swift or otherwise)"
I have been keeping an eye on the swift support coming in Cocoapods 0.36 and one thing I noticed is that only iOS 8+ will get support for Pods being linked as Dynamic frameworks.  Is there a reason for this?  Swift is supported on iOS 7 and when you have a project that uses swift Xcode automatically includes some portions of the Swift Runtime in the project in the form of dynamic frameworks.  Also

[2014-12-15 03:04] #9 closed, assigned to nobody

[2014-12-15 09:00] fluidsonic opened #10 "All pods are linked multiple times"
After more than 24 hours of work my project finally compiles fine with frameworks :)

Now I came across the next issue where the binaries of all pods are linked multiple times which causes random weird behavior at runtime.

Even for the simplest test projects my debug console is getting spammed with messages like this:

[code]

Podfile is simple:

[code]

The project is more or less the one from X

[2014-12-16 12:24] #10 closed, assigned to nobody

[2014-12-16 19:05] fluidsonic opened #11 "Our experience with CocoaPods+Framework"
This issue's purpose is to share our experience with CocoaPods+Frameworks and to discuss possible improvements. Our app project has 4 app targets (for staging), 3 framework targets (used by the app targets), 1 subproject (another Swift framework), 12 Pod dependencies and 4 transitive Pod dependencies.

---

Build times are horrible at the moment and even indexing takes 5-10 minutes. Debugging Swif

[2014-12-16 20:41] #5 closed, assigned to mrackwitz

[2014-12-17 12:33] fluidsonic opened #12 "Arbitrary order of imports in umbrella header"
We just had a good moment of laughing…

We switched our project to `use_frameworks!` and it compiled fine on mine and one of my coworkers Mac. Then we built exactly the same project on another coworker's Mac and it failed building!
We tried the usual stuff like doing a clean checkout from git, clearing DerivedData etc. Nothing helped.

For some reason the order of imports in the umbrella headers g

[2014-12-17 12:45] #12 closed, assigned to nobody

[2014-12-17 23:31] kylef opened #13 "Linting a swift iOS pod raises code sign errors without a certificate"
Is it possible to not code sign when linting? Otherwise it will be difficult listing Swift iOS pods on travis etc where we don't have a certificate.

[code]

[2014-12-18 18:00] kylef opened #14 "Framework's version is not correctly set to pod spec's version"
This will result in `PODVersionString` being incorrect from the framework header.

![screen shot 2014-12-18 at 17 57 55](https://cloud.githubusercontent.com/assets/44164/5493104/994111b8-86df-11e4-86a7-6c5cf0ead9b0.png)

[2014-12-19 23:09] #14 closed, assigned to nobody

[2014-12-23 22:47] segiddins opened #15 "Should define umbrella headers for subspecs"

[2014-12-24 23:13] bassrock opened #16 "GoogleAnalytics Undefined Symbols"
I am using google analytics and keep getting an undefined symbols for architectures when I try to build and run an iOS app. To verify this was indeed a Google Analytics error I created a single view test application with just the google analytics pod and tried to use a GAITrackedViewCOntroller. It then received the same error:

[code]

Are there any work arounds for this or is this a Google issue?

[2014-12-25 14:35] pepibumur opened #17 "Could not build Objective-C module"
After integrating the Swift library with an empty project I get that error compiling the project. Am I doing something wrong?
![image](http://cl.ly/image/2n0s303w2e1u/Image%202014-12-25%20at%203.34.15%20pm.png)

[2014-12-31 10:35] devxoul opened #18 "There's no branch named `swift` in CocoaPods repository."
I followed the instruction in README but got an error:

**Gemfile**

[code]

**Shell**

[code]

What branch should I use for using swiftpods?

[2014-12-31 10:41] #18 closed, assigned to nobody

[2015-01-03 20:17] jhersh opened #19 "dyld: Library not loaded: @rpath/libswiftCore.dylib"
I'm not entirely sure this is a CocoaPods issue. If it isn't, please feel free to close.

I have a [pure Swift project](https://github.com/splinesoft/bequest) with a mix of Swift and Obj-C pods. Podfile [is here](https://github.com/splinesoft/Bequest/blob/master/src/Podfile). The app runs just fine in the simulator with the debugger attached, but launching the app in simulator without the debugger

[2015-01-03 22:16] segiddins commented on #19
The swift runtime dylibs must not be signed. If no one beats me to it, I can take a look at the embed frameworks script.

[2015-01-04 22:27] fluidsonic opened #20 "TARGET_BUILD_DIR wrong for Archive builds"
Different app targets can have the same Pod dependency which is fine since the Pod targets will have a different name. But during Archive builds one Pod target can overwrite another one's product since they use a shared folder for their products.

This leads to random errors during Archive builds like missing headers, codesign errors or that an Objective-C module couldn't be built.

[`TARGET_BUILD

[2015-01-05 13:35] fluidsonic commented on #20
Looks like the documentation is wrong about `TARGET_BUILD_DIR`. It does not depend on `TARGET_TEMP_DIR` but on `TEMP_ROOT`.

But anyway I don't think it's possible to override the paths used for Archive builds.

Will check if a shell script can solve the issue.
This is really annoying. Most of our Archive builds suddenly fail because of this mess.

[2015-01-05 17:11] fluidsonic commented on #20
We worked around the issue by not having the same pod multiple times in the same build process.

[2015-01-06 11:48] mente opened #21 "This bundle is invalid - The file extension must be .zip."
Hello,

I'm really new to iOS development and especially how iOS builds are made. Working with project locally is just fine (using simulator). But I can't push build to any distribution system (testflight or Beta from Crashlytics). In fact it's pushed in both cases but in case of Crashlytics Beta it fails to install, in case of testflight I receive warning

[code]

Problem appeared when I've added

[2015-01-06 14:11] ashfurrow commented on #17
Experiencing a similar issue. @mrackwitz can you clarify the header public/private difference?

[2015-01-06 15:03] ValCapri commented on #21
Did you try to remove Pods folder and Podfile and re-do a fresh pod install?
I had this problem some time ago, I don't remember how I solve it.
I have successfully posted an app using CocoaPods 0,36.beta.1 to,Crashlytics and App Store.
The only problem I had was that Apple don't want to validate an iOS 7 compatible app with a dynamic framework (you must use a deployment target >= 8.0 like yours).

[2015-01-06 15:07] mente commented on #21
It was my original thought but I didn't try. Otherwise it should be noted somewhere in [announcement of swift support](http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/).

Anyway you might be right. Will give it a try.

[2015-01-07 19:15] getaaron opened #22 "Dynamic framework issues with CocoaPods and Swift"
Is this correct?

- All pods written in Swift will be built as dynamic frameworks
- Dynamic frameworks only run on iOS 8 or later (iTunes Connect will reject apps if built for iOS 7)
- Therefore, if authors of a project written in Swift want to provide iOS 7 support, they should instruct developers of iOS 7 apps to install these projects manually, not using CocoaPods

If this is correct, I have tw

[2015-01-07 23:04] kylef commented on #22
Yes this is correct (summarised this on https://github.com/Alamofire/Alamofire/pull/287#discussion_r22532091).

This will be an actually lint error by the 0.36 release. Enforcing that Swift pod's platform is set correctly (see https://github.com/CocoaPods/CocoaPods/issues/2963).

I think it make's sense to put this in the blog post. /cc @mrackwitz Perhaps this should also make it into the guides b

[2015-01-08 00:42] mrackwitz commented on #17
Public Headers are compiled with the framework and with the application target, so everything which is included there has to fulfill the requirements for Clang Modules. Foreign code from other dependencies must be importable as modules, which doesn't imply `@import/import`, but that there is a Clang module declaration. Private headers are only taken into account while compiling the framework itsel

[2015-01-08 15:23] basvankuijck opened #23 "Swift framework w/ build configurations"
In objective-c I would use the (default) preprocessor macro "DEBUG" for the Debug Configurations if I want my (private) library classes to enable verbose logging in debug modus (for instance).
Now this works quite the same for Swift (when using OTHER_SWIFT_FLAGS).
But the problem is the framework that is created using cocoapods the OTHER_SWIFT_FLAGS from the main project isn't used. So therefor `#

[2015-01-08 15:36] basvankuijck commented on #23
Just had epifany:
`spec.xcconfig = { 'OTHER_SWIFT_FLAGS' => '-D $(CONFIGURATION:upper)' }`

solves this

[2015-01-08 15:36] #23 closed

[2015-01-08 22:11] MaddTheSane commented on #17
IIRC, Frameworks need to have a module definition file defined. If it doesn't it can be imported into Swift via the bridging header.

[2015-01-09 12:03] neonichu commented on #17
It is actually the other around. If you do have a module, the bridging header is not necessary and you can import the framework directly, otherwise you need to use the bridging header.

[2015-01-09 13:31] ashfurrow commented on #17
@pepibumur In my case, rebuilding the entire Xcode project from scratch and re-integrating with CocoaPods fixed this for me (see [this](https://github.com/artsy/eidolon/commit/95be833caa5e2babe25f7ceec8b1c7ee04deb6fa) commit on [this](https://github.com/artsy/eidolon/pull/351) PR). My hypothesis is that a previous pre-release version of CocoaPods w/ frameworks set some flag or something in my proj

[2015-01-09 19:34] mattt opened #24 "Difference between trunk.cocoapods.org podspec validation and 0.36.0.beta.1 validation causes unreported push failure"
I'm attempting to publish the Alamofire podspec (1.1.3) to the CocoaPods trunk.

When I do `$ pod --version`, I get:

[code]

I am using Xcode Version 6.1.1 (6A2006).

### Podfile

[code]

When I do `$ pod trunk push Alamofire.podspec`, I get the following output:

[code]

There are three things to call out here:

1. I don't know why the "Unable to load a specification for the plugin" warning is p

[2015-01-09 21:55] segiddins commented on #24
@mattt you please please provide the verbose output for (3)?

[2015-01-09 22:11] mattt commented on #24
[code]

[2015-01-09 22:12] mattt commented on #24
The verbose output revealed the underlying issue: not having a `requires_arc` line. Why this doesn't show up in non-verbose output is probably worth investigating.

[2015-01-09 23:51] ValCapri commented on #22
Is there no way to provide a static framework with Swift and iOS 7+ support? Like iOS-Universal-Framework project.
For the moment, I use CocoaPods for Objective-C dependency (so it produce static library) and submodules for swift dependency.

[2015-01-09 23:52] pepibumur commented on #17
Hello @ashfurrow thanks for the report. Tried it with the beta 1 but now I get this error
![image](http://cl.ly/image/1R0V260v1q3k/Image%202015-01-10%20at%2012.51.22%20am.png).

[2015-01-10 00:03] mrackwitz commented on #22
@getaaron: As @kylef states, this will be an error, which will cause rejection of the podspec. I don't think this has to be necessarily stated into the blog post, as this is a general limitation of the OS / distribution platform and not the dependency manager.

@kylef: :+1:

@ValCapri: No, static frameworks are unlinked. Swift has to be linked because of it's dynamic standard libraries.

[2015-01-10 00:18] pepibumur commented on #17
Ups sorry!, didn't install the beta 1 properly. It's working now :stuck_out_tongue: . Great job guys, and thanks @ashfurrow

[2015-01-10 00:42] #17 closed

[2015-01-10 01:10] getaaron commented on #22
@mrackwitz I think it's worth including in the blog post even though it's not a CocoaPods limitation, mostly because I suspect it will catch many people by surprise.

[2015-01-10 03:42] oveddan commented on #19
This happens to me too

[2015-01-10 16:43] ened opened #25 ""Failed to load Info.plist from bundle" error for builds"
When distributing a test build, the installation fails.
In the device console, I was able to find the following log out:

[code]

The Podfile in use is:

[code]

I wonder whether the file is really missing or iOS looks at the wrong place?

[2015-01-10 17:17] fitch commented on #19
Happens to me too. Tried setting `EMBEDDED_CONTENT_CONTAINS_SWIFT` to `YES` on the application target, and it worked for a while. Now it doesn't anymore.

[2015-01-11 12:58] mrackwitz commented on #24
This could be eventually related to the [RubyGems version](https://github.com/CocoaPods/CocoaPods/issues/2655#issuecomment-58890679) you're using. See CocoaPods/CocoaPods#2573. If I see it right, the causing / affected plugin (*cocoapods-try-release-fix*) is obsolete anyway and can be removed.

I can reproduce this error, but I'm using another Xcode build (6A2008a), which ships:
[code]
For some re

[2015-01-11 12:58] #24 closed

[2015-01-12 00:11] leviyehonatan opened #26 "unable to create a pod while hiding the source code"
is it at all possible to create such a project as in this link: https://github.com/leviyehonatan/cocoapods-lib-swift but not exposing the code to the user maybe by including somehow the .framework product as it is, but actually i do not know how to generate it, as it shows red in my xcode. this is a swift issue, because if i used objective-c i could have used a .a static lib, but this makes me use

[2015-01-12 00:23] segiddins commented on #26
You are more than welcome to ship a binary dynamic framework as a pod. Tools such as https://github.com/CocoaPods/cocoapods-packager will also be updated to support frameworks in due time.

[2015-01-12 00:23] #26 closed

[2015-01-12 09:27] leviyehonatan commented on #26
but how do i generate the dynamc framework file before cocoapods-packager supports it? and if i succeed doing so, is it supported by cocoapods to have a .framework only pod?

[2015-01-12 09:39] leviyehonatan commented on #26
i have tried pod package anad these are the results :
Yehonatans-MacBook-Pro:cocoapods-lib-swift nickst$ pod package MySDK.podspec
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories)

[2015-01-12 09:51] neonichu commented on #26
See CocoaPods/cocoapods-packager#56 for the issue tracking this. Also dynamic frameworks aren't fully supported as `vendored_frameworks` yet, see CocoaPods/CocoaPods#1993

[2015-01-12 12:12] mente commented on #21
So I've tried recreating project several times with no luck. I narrowed down problem a bit to `use_frameworks!` without any swift dependencies, so my Podfile looks like this:

[code]

And with this I still experience problem publishing build. Any clues?

[2015-01-12 13:13] leviyehonatan commented on #26
so please just to make things perfectly clear, if i want to target pre 8.0 ios meaning 7.0 and i don't want to expose my code but i want to distribute it as a pod my ONLY way is to write in objective-c?

[2015-01-12 13:17] neonichu commented on #26
The OS restriction is unrelated to it being a Pod or not, because Swift is only supported as a dynamic framework and those will be rejected by the App Store if you target iOS 7. Also keep in mind that Apple discourages distributing Swift frameworks anyway: <https://developer.apple.com/swift/blog/?id=2>.

[2015-01-12 13:59] leviyehonatan commented on #26
so the answer is: yes? meaning 7.0 -> objective-c only?

[2015-01-12 14:06] mrackwitz commented on #26
If your code should be distributed in binary form: yes, then the only option is as a static library, which implies (Objective-)C(++) only.

[2015-01-12 20:33] ValCapri commented on #21
No, maybe creating a repository with some example code that doesn't work for you can help.

[2015-01-12 23:09] mente commented on #21
I've created a [repo](https://github.com/mente/cocoapods-swift-issue) with an example project. Have a look

[2015-01-13 23:48] hajile commented on #19
@segiddins Actually,

changing
[code]

to

[code]

in `Pods-***-frameworks.sh` fixes the issue

[2015-01-13 23:50] segiddins commented on #19
@hajile that change is tracked by https://github.com/CocoaPods/CocoaPods/pull/3009

[2015-01-13 23:52] mrackwitz commented on #19
@jhersh: Can you confirm that this solves the problem also for you? Then we can close this issue.

[2015-01-14 04:02] jhersh commented on #19
@mrackwitz thanks again for all your work on this, by the way!

I modified my frameworks script as per @hajile's comment above. Running on the device I now see a slightly different error on launch:

[code]

I added `Pods_Bequest.framework` as an Embedded Binary on my project's General tab and that seems to have resolved it - for the first time, I'm able to run my app on my device!

[2015-01-14 12:19] mrackwitz commented on #19
@jhersh: Could you make sure that in your project there is a `Embed Pods Frameworks` build phase? This is supposed to do automatically (with some advanced logic Xcode doesn't support), what you now did manually. Otherwise you could delete the `Pods.framework` from your `Link Binary with Libraries` list and run `pod install` again, so that the project integration will happen again and the described

[2015-01-14 15:53] jhersh commented on #19
Yup, I do have that build phase. I deleted the pods framework and ran `pod install` again but it's back to `dyld: Library not loaded: @rpath/Pods_Bequest.framework/Pods_Bequest`. If you like you can see [my project](https://github.com/splinesoft/bequest).

[2015-01-15 17:33] fitch commented on #19
Making the changes suggested by @hajile to `Pods-xxx-frameworks.sh` worked for me.

[2015-01-15 17:52] segiddins commented on #19
Those changes have been merged at https://github.com/CocoaPods/CocoaPods/pull/3009.

[2015-01-15 17:52] #19 closed

[2015-01-16 06:17] 441088327 opened #27 "IBDesignables can be used with CocoaPods error"
https://github.com/ZevEisenberg/IBDesignableTest

[2015-01-16 08:30] neonichu commented on #27
See CocoaPods/CocoaPods#2792 - frameworks are required for IBDesignables, they work just fine with 0.36

[2015-01-16 08:30] #27 closed

[2015-01-19 09:24] AvdLee commented on #22
Conclusion here, Cocoapods with swift support will only work on iOS 8+?

I'm thinking to start using the latest Cocoapods with Swift support for my project, where I'm supporting iOS 7+.

[2015-01-19 11:00] neonichu commented on #22
@AvdLee this is correct, Swift on iOS 7 only works if you copy the files into your application project.

[2015-01-19 21:40] neonichu commented on #22
I drafted a little paragraph that could be part of the eventual 0.36 release blog post: <https://gist.github.com/neonichu/acd533ab9fcce4cf3a1b> - this should avoid unnecessary discussions on whether this is a CP limitation or whether it is temporary or not, as we can already see that for some reasons people are debating this.

[2015-01-19 23:35] getaaron commented on #22
https://gist.github.com/getaaron/73a3a5eb776613681389 has some minor formatting and copy suggestions. (I also noted this in @neonichu's gist.)

[2015-01-21 06:58] cipriancaba opened #28 "Static libraries not linked"
I am using `0.36.0.beta.1`

If I have a static library `libssl.a` in my spec, found at `TestSpec/Libs` and I include it as a vendored library, it doesn't seem to get linked in the target project

Here is my podspec file:

[code]

And here is my Podfile
[code]

What happens in the target project is that the libssl.a file gets included, the path to the Libs folder gets added to the Search path but o

[2015-01-21 09:23] neonichu commented on #28
The purpose of the `libraries` attribute is linking libraries which are part of the platform SDK and in any case, they will always be linked using the generated XCConfigs, so they'll not be visible in the build phases tab, but in "Other Linker Flags".

[2015-01-21 09:23] #28 closed

[2015-01-21 09:48] cipriancaba commented on #28
And is there any way to add them to the Build Phases tab directly from the podspec?

[2015-01-21 10:03] neonichu commented on #28
Nope, most build settings are kept in XCConfigs deliberately.

[2015-01-21 10:04] cipriancaba commented on #28
I understand now. Even if the lib is not added to the Build Phases tab, it's actually adding a linker flag `-l"ssl"` and this will actually build the library

![Linker flags](https://www.dropbox.com/s/gwc1dtq25yl899r/Screenshot%202015-01-21%2012.02.20.png?dl=1)

Thanks for clarifying this

[2015-01-23 05:26] Pasta commented on #21
Did you solved this @mente ?

[2015-01-23 07:36] mente commented on #21
Nope

[2015-01-23 16:14] Pasta commented on #21
I guess the solution is to not use cocoapods until 0.36 is released.

[2015-01-24 22:33] mente commented on #21
It's one way of the fix. But I couldn't find a similar issue in the internet so thought it could be just me. So just wanted to ensure that I'm doing everything correct

[2015-01-26 22:25] albertbori commented on #21
Having the same issue, but only when deploying with a custom Scheme and Build Configuration. I'm guessing I don't have it set up correctly. If I use the standard Scheme and Build Configuration (Debug/Release), then I am able to deploy to iTunes Connect just fine.

[2015-01-26 22:29] segiddins commented on #21
@neonichu this seems to be another custom config issue?

[2015-01-27 09:44] Aahung commented on #21
I also have this issue.

[2015-01-27 09:47] neonichu commented on #21
Could anyone of you put an example project up that causes this? Currently unsure how to reproduce.

[2015-01-27 09:49] Aahung commented on #21
My Podfile is
[code]
and I am trying to add `use_frameworks!`

[2015-01-27 10:50] Aahung commented on #21
Guys, I think I found something, I unzip the .ipa files
![ipa can pass iTunesConnect](https://cloud.githubusercontent.com/assets/3804518/5917180/098a57ec-a655-11e4-9d30-db9ebe610de0.png)
![ipa saids "invalid binary"](https://cloud.githubusercontent.com/assets/3804518/5917204/32acd938-a655-11e4-83e1-e61e9c1d0ce1.png)
It seems Cocoapods forget to copy the frameworks instead it just create a link: (`

[2015-01-27 10:58] neonichu commented on #21
That should have been fixed by #2871 - what's the difference between those two results, first one doing manual integration of Alamofire?

[2015-01-27 11:07] Aahung commented on #21
This is the only visible difference between the two archive. I think maybe it causes failure.

[2015-01-27 17:12] albertbori commented on #21
@neonichu, this only happens to me when using a custom build configuration. See if the following causes it for you:

1. `Project` -> `Info` -> `Configurations` -> `+` -> `Duplicate "Release" Configuration`.
1. Name it `QA`.
1. Reference a swift framework
1. Run `pod install`, and you'll get a warning about pods not setting the base configuration for `MyProject.qa.xcconfig`.
1. Find `Pods/Target Su

[2015-01-28 21:32] neonichu commented on #8
Users can bring their own module maps with a specification by configuring `SWIFT_INCLUDE_PATHS` via the `xcconfig` attribute. So there is no need for CP changes to support this.

[2015-01-28 21:32] #8 closed

[2015-01-30 08:20] albertbori opened #29 "Catch 22 base configuration warning"
I can't get [KIF](https://github.com/kif-framework/KIF) to work using cocoa pods 0.36.0.beta.2 (was able to reproduce also in 0.36.0.beta.1). Here is my Podfile:

	source 'https://github.com/CocoaPods/Specs.git'
	xcodeproj 'MyProject/MyProject.xcodeproj'
	link_with 'MyProject', 'UnitTests', 'AutomationTests'

	platform :ios, '8.0'

	pod 'MBProgressHUD', '~> 0.8'
	pod 'ActionSheetPicker-3.0'
	#Righ

[2015-01-30 10:31] kylef commented on #29
As mentioned in the contributing document for creating new issues, please attach sufficient steps to reproduce this issue or an example project exhibiting the problem.

This is because KIF is a framework in this case, you should instead reference it directly in your Swift files with `import KIF`.

[2015-01-30 16:52] albertbori commented on #29
Unfortunately, that gives me almost the same error. On the `import KIF` line in the Swift file, it says:

I will spend the next few hours assembling a sample project that highlights this issue.

[2015-01-30 18:57] albertbori commented on #29
Added example project: https://github.com/albertbori/catch22

This fails in the exact same way as described above. All you have to do is add a Swift pod to your Podfile, run `pod install`, and it completely hoses KIF

[2015-01-30 19:30] kylef commented on #29
@albertbori I've created a pull request on your example project fixing the problem https://github.com/albertbori/catch22/pull/1. This was a configuration issue in your Podfile, which won't be possible once https://github.com/CocoaPods/CocoaPods/issues/840 has been resolved.

[2015-01-30 19:30] #29 closed

[2015-01-30 23:22] albertbori commented on #29
I was able to apply those concepts to my main project and it worked great!

Your help has been **invaluable**. Thank you so much!

[2015-02-03 21:53] neonichu commented on #16
Closing this in favour of CocoaPods/CocoaPods#3106 which includes the actual cause of this.

[2015-02-03 21:53] #16 closed

[2015-02-04 16:30] #25 closed

[2015-02-06 00:50] albertbori commented on #21
I also extracted the two .ipa files to compare, and found this difference:
![screen shot 2015-02-05 at 5 46 15 pm](https://cloud.githubusercontent.com/assets/1742709/6072477/69291754-ad5f-11e4-881e-e72d144e1dc0.png)

`QA` build config on the left, `Release` build config on the right

[2015-02-06 04:41] albertbori commented on #21
After implementing `use_frameworks!`, not even my `Release` build config is working now. I can confirm what @Aahung was saying, after examining the .app package contents. It's very clear that the **alias** to the framework is being copied into the .app package, instead of the actual framework files:

![screen shot 2015-02-05 at 9 33 57 pm](https://cloud.githubusercontent.com/assets/1742709/6074615

[2015-02-08 11:30] danilotorrisi commented on #21
I have the exact same issue here, as you've already said the problem is related to the **aliases**. Have you find any kind of workaround?

[2015-02-08 11:42] Aahung commented on #21
I plan to wait for the stable version of cocoapods. Right now I use objective c.

[2015-02-08 12:08] danilotorrisi commented on #21
I'll also wait for the stable version, but I was trying to deploy just the beta version for now.

I've tried to manually copy the frameworks from the intermediate folder path ( where the aliases point to ) to the app framework folder. I'm trying to upload the binary to iTunes Connect, I'll let you know if that worked.

[2015-02-09 05:42] getaaron opened #30 "pod install doesn't create a bridging header"
**Summary**: `pod install` doesn't create a bridging header

**Reproduction Steps**

1. Create a new project in Xcode
2. Run `pod install`
3. Add some pods into the empty `Podfile`, for example:

[code]
4. Run `pod install` again to install the pods
5. Close the project and open the `.xcworkspace` in Xcode

**Expected Behavior**

I expect that I can now use my imported pods in a `.swift` file.

**

[2015-02-09 05:42] getaaron commented on #30
(If this is expected behavior, then it would great for the output of `pod install` / `pod update` to mention this.)

[2015-02-09 05:47] segiddins commented on #30
That is the expected behavior unless you use the `use_frameworks!` flag for a target.

[2015-02-09 06:07] getaaron commented on #30
Thanks for the clarification. Just as CocoaPods informs users:

    [1] From now on use `Example.xcworkspace`.

it should also inform users to manually create a bridging header.

[2015-02-09 06:10] segiddins commented on #30
Framework support is still in beta, and you don't need to create a bridging header when using Objective-C.

[2015-02-09 18:31] albertbori commented on #21
Just found an interesting warning in the build log (report navigator) in Xcode:

[2015-02-09 19:06] albertbori commented on #21
Symlink copy was failing because of spaces in the `source` path. I have a pull-request in to fix this, and have verified that the fix allows the build through the app-store screening.

[2015-02-09 19:30] #21 closed

[2015-02-11 23:14] albertbori opened #31 "Can't get image from xcasset"
I'm not sure if this is caused by Swift/Frameworks support, but I am using `0.36.0.beta.2`. I have a pod that tries/fails to load images from the current bundle like so:

    let bundle = NSBundle(forClass: MyBundleClass.self)
    if let image = UIImage(named: "Add", inBundle: bundle, compatibleWithTraitCollection: nil) {
        self.frame.size = image.size
        self.setImage(image, forState:

[2015-02-11 23:40] segiddins commented on #31
that's because you're specifying a custom resource bundle, instead of using the framework bundle.

[2015-02-11 23:52] albertbori commented on #31
I'm not sure I follow. What would you change in the above code snippets to correct this?

[2015-02-11 23:53] segiddins commented on #31
Try changing

[code]

to

[code]

?

[2015-02-12 00:06] neonichu commented on #31
@segiddins Looks right.

Alternatively, one could also get the inner bundle using something like:

[code]

[2015-02-12 00:15] albertbori commented on #31
You guys are 100% right. Thanks for steering me in the right direction. Hopefully, this issue will serve as google food for future travelers.

One last question for extra credit: The following image name reference in a xib:

![screen shot 2015-02-11 at 5 13 17 pm](https://cloud.githubusercontent.com/assets/1742709/6159342/60998bbc-b211-11e4-9c6b-c39c254a8645.png)

Fails with:

How would you correc

[2015-02-12 00:26] #31 closed

[2015-02-14 18:18] #13 closed

[2015-02-16 10:44] EMidee66 commented on #3
Is there a way to make Objective-C pods run in the playground ?
Swift pods are Ok, but with ObjC I keep getting an error.
![screen shot 2015-02-16 at 11 41 34 am](https://cloud.githubusercontent.com/assets/6751025/6210523/d6ac0e48-b5d0-11e4-86e8-a7455770c7ca.png)

[2015-02-20 17:47] orta commented on #15
closing, as I think there'll be something in cocoapods/cocoapods for this.

[2015-02-20 17:47] #15 closed

[2015-02-24 10:12] neonichu commented on #3
@EMidee66 ObjC Pods generally work fine in Playgrounds, they need to be build for 64-bit if used in an iOS one, though.

[2015-02-24 10:12] neonichu commented on #3
Underlying problem is tracked by CocoaPods/CocoaPods#3095

[2015-02-24 10:12] #3 closed

[2015-02-24 16:50] corinnekrych commented on #30
Similar to @getaaron I have a project using a dependency in its podfile without `use_frameworks!`
 => you have to define bridging hear.
See https://github.com/corinnekrych/aerogear-ios-http-1/blob/using.OHHTTPStubs/AeroGearHttp.xcodeproj%2Fproject.pbxproj#L540
Podfile: https://github.com/corinnekrych/aerogear-ios-http-1/blob/using.OHHTTPStubs/Podfile

But here another project where although not us

[2015-02-24 17:24] mrackwitz commented on #30
@corinnekrych: CocoaPods 0.35 built static libraries exclusively and didn't had support for Clang modules. With `use_frameworks!` you integrate your dependencies as frameworks. Frameworks bring Clang modules under the hood by carrying a module.modulemap, where Clang is advised where it can find the headers which belong to this specific dependency, which allows them to be imported by e.g. `@import

[2015-02-24 17:26] segiddins commented on #30
@corinnekrych in master now, you'll need to specify `use_frameworks!` all the time, instead of it being inferred when there are swift pods in the target.

[2015-02-24 17:26] #30 closed

[2015-02-24 17:38] corinnekrych commented on #30
ah oki I understand now... the difference between my 2 projects is that ios-http does not use any swift pod whereas ios-oauth2 do use a swift pod
=> hence `use_frameworks!` was inferred

I guess having to write it explicitly makes more sense. Thanks!

For information: https://github.com/CocoaPods/CocoaPods/commit/681eb76a328717312d17ce23f4bab428bab7f8ce

[2015-02-24 20:03] neonichu commented on #20
This should be fixed by the deduplication described in CocoaPods/CocoaPods#3095

[2015-02-24 20:03] #20 closed

[2015-02-25 15:21] dcflow commented on #3
Thank you Boris.

[2015-02-26 01:48] rjstelling commented on #11
@neonichu @mrackwiz As of 0.36.rc1 the Copy Resource script still "compiles and copies asset catalogs unconditionally".

Are there any work arounds for this, my app bundle is now twice the size it should be.

[2015-03-03 18:08] mrackwitz commented on #22
Done with https://github.com/CocoaPods/blog.cocoapods.org/commit/6933ae5ccfc1e0b39dd23f4ec67d7a083975836d.

[2015-03-03 18:08] #22 closed

[2015-03-13 15:48] cemolcay commented on #9
hi all, just to be clear, can we use objective-c pods in swift projects targeting ios 7 ?
is that legal ?

[2015-03-13 15:49] neonichu commented on #9
Yes, but you have to integrate them as static libraries (which is still the default) and use a bridging header.

[2015-04-20 16:23] joelparkerhenderson commented on #3
@neonichu @mrackwitz Is there progress on your idea of putting the pods in a playground-accessible directory?

My goal is to create a playground, then do "import Alamofire" in the playground. I'm building with Xcode 6.4, and using Cocoapods 0.36.4. I'm reading lots of docs, but I haven't found one that tells step-by-step how to get this working. Advice is much appreciated. Thanks!

[2015-04-20 17:45] neonichu commented on #3
Nothing has happened towards this so far, but you can symlink the frameworks from Pods-\* to the root of `${BUILD_PRODUCTS_DIR}` - you could also try to experiment with the stuff in https://github.com/neonichu/quick-cli-runner/pull/3 to make Playgrounds work with custom framework search paths.

[2015-04-20 19:47] joelparkerhenderson commented on #3
Thanks. Can you say more about your suggestion?

I don't see any BUILD_PRODUCTS_DIR.

I do see a BUILT_PRODUCTS_DIR, found this way:

[code]

But that directory doesn't exist.

I see a similar directory:

[code]

Within that directory, I see:

[code]

Is that the framework that you're suggesting to symlink?

[code]

[2015-04-21 09:18] neonichu commented on #3
Yah, sorry, that is what I meant.

I'm not 100% positive which platform Playgrounds use, but I'd think it is `Debug-iphonesimulator`, so you would have to create the link in that directory. They run on your Mac, so it is definitely not `iphoneos`

[2015-05-19 19:39] steve228uk opened #32 "Library not loaded: @rpath/Pods.framework/Pods"
Hi Guys,

I'm stumped with this one so any help is appreciated…

Getting the following issue when running my app on my phone; fine in simulator so I guess it's some code signing thing

[code]

I've tried deleting and reinstalling my pods. It seems to be referenced to #19 but not sure how?

[2015-05-20 13:37] #32 closed, assigned to nobody

[2015-05-21 17:30] mojtabacazi commented on #19
Just got this:

[code]

[2015-05-21 19:31] mojtabacazi commented on #19
Solution

http://stackoverflow.com/questions/29126835/swift-framework-depending-on-cocoa-pod

[2015-06-11 21:02] thalescm opened #33 "CodeSign error: code signing is required for product type 'Framework' in SDK 'iOS 8.3'"
I'm developing a swift app in iOS.
In my app I'll use GoogleMaps API, which in it's current version can only be added via Pods.

That said, I've configured my DevelopmentTeam to my account. Chosen the correct provisioning profile and Code Signing Identity.

It runs normally in simulator, but when trying to build and run in a physical device it fails with the below error:
`CodeSign error: code sign

[2015-07-14 02:34] segiddins commented on #33
This should be fixed on master.

[2015-07-14 02:34] #33 closed, assigned to nobody

[2015-10-26 17:39] thiagoramos23 commented on #19
The solution added by @ilya-epifanov worked for me. Thanks.

[2015-11-11 00:05] mekdesghe opened #34 "issue with KIF"
I have been having an issue when attempting to reference KIF in my Swift project.

My project stopped compiling after I did a "clean", and has been giving me the error: No such module 'KIF'

Here is my cocoapods file entry for KIF:

target 'MyProjectTests', :exclusive => true do
    pod 'KIF', '~> 3.0', :configurations => ['Debug']
end

how can i fix the issue

[2015-11-24 11:08] inetfuture commented on #17
@mrackwitz @pepibumur I'm trying to distribute a objective-c static library as a framework, and facing the same error, could you please take a look and tell me what am I doing wrong? I have stuck on this all day.

Here is the podspec https://github.com/tuisongbao/realtime-engine-client-ios/blob/master/TuisongbaoRealtimeEngine.podspec and framework https://github.com/tuisongbao/realtime-engine-clie

[2015-12-08 04:01] samjarman opened #35 "Can't seem to locate images inside "Resources" folder of Embedded Framework dependency"
The SDK I'm working with is a .embeddedframework which has a resource bundle for images/nibs and .framework for the code.

The SDK loads images like:    `UIImage *image = [UIImage imageNamed:[NSString stringWithFormat:@"<Product>Resources.bundle/%@", name]];`

When I use it with Cocoapods and Swift, with `use_frameworks!` in the podfile, the SDK fails to find these images at runtime.

Question: Ho

[2015-12-08 04:03] segiddins commented on #35
you'll have to use the APIs that allow you to specify a bundle, and use `[NSBundle bundleForClass:]`

[2015-12-08 04:03] #35 closed, assigned to nobody

[2015-12-08 21:56] samjarman commented on #35
I'm still having issues, I've tried the approaches from here: http://www.the-nerd.be/2015/08/07/load-assets-from-bundle-resources-in-cocoapods/ and here: http://blog.flaviocaetano.com/post/cocoapods-and-resource_bundles/ with no luck. Any more advice @segiddins?

More info:

I have `s.resource_bundles = {'NAMEResources' => 'NAME.embeddedframework/NAME.framework/Versions/A/Resources/NAMEResources.b

[2015-12-08 22:54] samjarman commented on #35
I should mention this is for development pods too... the structure comes out real weird.

Development Pods > Frameworks | Resources

Resources/Name.embeddedframework/name.framework/Versions/A/Resources/NAMEResources.bundle/fileiwant.png

[2015-12-08 23:03] segiddins commented on #35
I can't come up with anything off the top of my head, sorry.

[2016-03-30 21:57] alfiehanssen commented on #9
@neonichu What if you want to include the Objective-C Cocoapod in a Swift framework target that needs to support iOS7+? Framework targets cannot include bridging headers. Any ideas?

[2016-08-06 04:54] anismansuri63 commented on #19
just clean the project
shift+cmd+k

[2019-04-15 08:15] hatjs880328s opened #36 "Could not build Objective-C module 'IIOCUtilities'"
Hi,

I create a lib with obj-c it's pod address is "https://github.com/hatjs880328s/IIOCUtilities"

I wanna create a pod lib with swift , but it's alert is "Could not build Objective-C module 'IIOCUtilities'"

how can i solve it ?

I will be deeply appreciated that you have done for me and look forward to your reply.

[2019-04-15 14:44] orta commented on #36
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2019-04-15 14:44] #36 closed, assigned to nobody

[2019-04-16 06:51] nobody4t commented on #19
I got this too. This time I got no luck to resolve this with any answer. The Apple is really a myth. At least for me.